*{
    margin: 0;
    box-sizing: border-box;
}

/*The overall design of the website is carried out on the basis of axisymmetry. 
I think that axisymmetry is an important factor to achieve aesthetic feeling. 
Therefore, I chose page 29 of Jesse Lonergan's hedra as my layout reference.*/

:root{
    --colour-one:
    radial-gradient(circle at 50% 25%,
    rgba(2, 213, 255, 0.37),rgba(255, 0, 212, 0) 70.71%),
    radial-gradient(circle at 8.5% 70%,
    rgba(255, 0, 43, 0.493),rgba(0, 17, 255, 0) 70.71%),
    radial-gradient(circle at 91.5% 30%,
    rgba(212, 0, 255, 0.493),rgba(183, 255, 0, 0) 70.71%) rgb(246, 233, 229);

    --colour-two:linear-gradient(to bottom right, #fa709a, #fee140);
    --colour-three:linear-gradient(to bottom right, #fee140, #fa709a);
    --colour-four:repeating-radial-gradient(#8ccbff, #fee140, #fa709a, #b579ea, #f67fc2cd);
    --colour-five:linear-gradient(to bottom left, #ff63bb, #c481ff, #50b6ff);
    --colour-six:linear-gradient(to bottom left, #50b6ff, #c481ff, #ff63bb);

    --border-one: double 5px rgb(103, 102, 102);   
}

/*The second step is about color design. 
I want to adopt a dreamy style, so I think of gradient colors. 
Through learning in module, my color theme is light colors, including blue, pink, purple and yellow. 
Similarly, I separate the left and right colors in an axisymmetric manner. 
The left and right sides are diagonal radial gradient codes. 
The background color is a stacked radial gradient code. 
In the middle is a repeated radial gradient using four colors.*/

body{
    background: var(--colour-one)
}

#bg-grid-container{
    background: var(--colour-one);
    width: 80vh;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(5,2fr); 
    grid-template-rows: 0.1fr 1.5fr 1.5fr 1.5fr 5.5fr 0.1fr; 
    gap: 10px 10px; 
}

/*First, I try to make a layout in the grid layout tool according to the reference page and get the approximate data and grid aera.*/

.grid-box{
    border: var(--border-one);
    border-radius: 10px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.397), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*For the border style, I want to create a magic card feeling, 
so I added a double style to the box above and added shadows to them to make the effect three-dimensional.*/

#box-one{
    grid-area: 2 / 1 / 4 / 2 ;
    background: var(--colour-two);
}

#box-two{
    grid-area: 3 / 2 / 5 / 3 ;
    background: var(--colour-three);
}

.grid-box3{
    border-image:  url("border-white.png") 1 fill;
    border-radius: 0px;
}

.grid-box3:hover{
	box-shadow:0 0 200px #ffefa0;
}

/*For box3 and box6, I still chose the axisymmetric White Retro Pattern to add border pictures for them. 
I also added a hover selector for the box3. When you hover over it, you can see that the box3 is shining like the sun.*/

#box-three{
    grid-area: 2 / 3 / 4 / 4 ;
    background: var(--colour-four);    
}

#box-four{
    grid-area: 3 / 4 / 5 / 5 ;
    background: var(--colour-five);
}

#box-five{
    grid-area: 2 / 5 / 4 / 6 ;
    background: var(--colour-six);
}

.grid-box6{
    border: 10px solid transparent;
    border-image: url("border-white.png") 40 round;
    border-radius: 0px;
}

#box-six{
    grid-area: 5 / 1 / 6 / 6 ;
    background: var(--colour-four);
}